:root {
  
    --color-primary: #0a1128;
    --color-secondary: #001f54;
    --color-accent: #034078;
    --color-light: #1282a2;
    --color-bg: #fefcfb;

    /* Fuentes A&S */
    --font-main: "Lato", sans-serif;
    --font-alt: "Barlow", sans-serif;
}


body {
    font-family: var(--font-main);
    display: grid;
    place-items: center;
    background-color: var(--color-bg);
    color: var(--color-primary);
    padding: 20px;
}

h2 {
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-light);
    width: 100%;
}

p {
    color: var(--color-primary);
}

.headerEx, .footerEx {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    width: 300px;
    padding: 15px;
    text-align: center;
}

.bodyEx {
    background-color: var(--color-bg);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    width: 300px;
    padding: 15px;
    text-align: center;
}