@media (min-width: 750px) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .navigation a {
        display: block;
        padding: 1rem;
    }

    .navigation a:hover {
        background-color: rgba(60, 34, 178, 0.9);
        text-decoration: underline;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}